/*===== Variables =====*/

$text: #000;
$container: 100%;
$main-text-color: #2d2d2d;

$light-gray: #cacaca;
/*===== Mixins =====*/
@mixin clear() {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin background-row() {
  @for $i from 1 through 10 {
    .table {
      &-row:nth-child(#{$i}) p {
        @if $i == 1 {
          background-color: rgba(145, 191, 255, 1);
        } @else {
          @if $i >= 7 {
            background-color: rgba(145, 191, 255, .4);
          } @else {
            background-color: rgba(145, 191, 255, 1-$i/10+0.1);
          }
        }
      }
    }
  }
}

/*===== Keyframes =====*/
