/*===== Variables =====*/

$text: #000;
$container: 100%;
$main-text-color: #2d2d2d;

$light-gray: #cacaca;
/*===== Mixins =====*/
@mixin clear() {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

/*===== Keyframes =====*/
