body, html{
  font-size: 16px;
  font-family: "Roboto", "Myriad Pro", Arial, sans-serif;
}
.socials{
  display: flex;
  li{
    padding-right: 25px;
  }
  svg{
    fill:#fff;
  }
}
.slick{
  &-prev,
  &-next {
    position: absolute;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    top: calc(50% - 30px);
    padding: 0;
    border: 2px solid $light-gray;
    border-radius: 50%;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-color: transparent;

  }
  &-prev{
    left: -70px;
  }
  &-next{
    right: -70px;
    transform: rotateY(180deg);
  }
}
.menu{
  display: none;
  &-link{
    font-size: .9375rem;
    color: $main-text-color;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }
  &-item{
    &:hover{
      .menu-link{
        opacity: .7;
      }
    }
  }
}
.vb-header{
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #fff;
  height: 85px;
  border-bottom-left-radius: 20% 90%;
  border-bottom-right-radius: 20% 90%;
  overflow: hidden;
}
.sticky{
  height: 90px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  transition: .4s;
  z-index: 99;
  .container{
    padding:0 20px;
  }
}
.section{
  &-home{
    background-image: url('../img/home-baner.jpg');
    background-size: auto;
    height: 100vh;
    margin-bottom: 65px;
  }
  &-announce{
    padding-bottom: 100px;
  }
  &-news{
    text-transform: uppercase;
    padding-bottom: 100px;
  }
  &-header{
    margin-left: 40px;
    margin-bottom: 40px;
    padding-left: 0;
    position: relative;
    text-transform: uppercase;
    span{
      display: inline-block;
      background-color: #fff;
      padding-right: 30px;
    }
    &:before{
      position: absolute;
      content: '';
      background-color: $light-gray;
      height:1px;
      width:100%;
      left: 0;
      top:50%;
      z-index:-1;
    }
    &:after{
      position: absolute;
      content: '';
      width: 50px;
      height: 30px;
      right: 0;
      background: url('../img/ball.png') #fff no-repeat center right;
      z-index: 2;
    }
  }
  &-facts{
    text-transform: uppercase;
  }
}
.home{
  padding-left: 20px;
  &-h2{
    font-size: 1.5625rem;
    color: #fff;
    line-height:1.92em;
    max-width: calc(20em * 0.5);
    font-weight: 300;
    line-height: 1.92em;
    letter-spacing: .42em;
    text-transform: uppercase;
    margin-bottom: 125px;
  }
}
.slick-slide{
  margin:0 3px;
}
.announce{
  background-color: #faff60;
  padding:16px 20px 20px;
  &-title{
    text-transform: uppercase;
    font-size:1.25em;
    margin-bottom: 25px;
  }
  &-link{
    display: block;
    text-align: right;
    font-weight:600;
  }
}
.news{
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  &-img{
    height:260px;
    width: 100%;
    background-size: cover;
  }
  &-info{
    background-color: #fff;
    padding: 20px;
  }
  &-title{
    margin-bottom: 40px;
  }
  &-time{
    color: #8e8e8e;
    font-size: 1.25rem;
    font-weight:400;
  }
}
// home facts
.fact{

  &-title{
    color:  #91bfff;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      left: 0;
      bottom: 2px;
      width: 8px;
      height: 1px;
      background-color: #d7d7d7;
      transform: rotate(-40deg);
    }
    &:before{
      position: absolute;
      content: "";
      left: 0;
      bottom: -4px;
      width: 8px;
      height: 1px;
      background-color: #d7d7d7;
      transform: rotate(40deg);
    }
  }
  &-desc{
    color:  #2d2d2d;
    font-size: 17px;
    font-weight: 300;
  }
}