@media (min-width: 1170px){
  .vb-header{
    padding-top: 43px;
    height: auto;
  }
  .sticky{
    padding: 10px 0;
  }
  .menu{
    display: flex;
  }
  .slick{
    &-prev{
      //left:-47px;
    }
    &-next{
      //right: -47px;
    }
  }
}