@media (min-width: 768px){
  .news{
    &-img{
      height: 12.77vw;
    }
  }
//  section on home
  .section{
    &-facts{
      margin-right: 50px;
    }
    &-rating{
      margin-left: 50px;
    }
  }
}
