ul.socials
    li
        a(href="tg://resolve?domain=Inutochkin")
            svg(width=29 height=29)
                use(xlink:href="#svg-telegram")
    li
        a(href="//facebook.com")
            svg(width=14 height=26)
                use(xlink:href="#svg-facebook")
    li
        a(href="//instagram.com")
            svg(width=29 height=26)
                use(xlink:href="#svg-instagram")
    li
        a(href="//youtube.com")
            svg(width=29 height=29)
                use(xlink:href="#svg-youtube")