.row
    .column
        h1.logo
            a(href='#') Logo
    .column
        nav
            ul.breadcrumbs
                each breadcrumb in ['Главная', 'Магазин', 'Барабанные палочки Vater GW2BN']
                    li
                        a= breadcrumb
.row
    .column.col-6
