section.section-home.flex
    .row.container
        .col-5.home
            h2.home-h2 Украинская федерация пляжного волейбола
            include ../components/socials
section.section-announce.container
    h2.section-header.row
        span Анонсы
    .announces-slider.row
        .announce
            h3.announce-title с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
            a.announce-link Подробнее
        .announce
            h3.announce-title с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
            a.announce-link Подробнее
        .announce
            h3.announce-title с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
            a.announce-link Подробнее
        .announce
            h3.announce-title с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
            a.announce-link Подробнее

section.section-news.container
    h2.section-header.row
        span последнее из прессы
    .news-slider.row
        .news
            .news-img(style="background-image: url(" + require('../../img/news1.jpg') + ")")
            .news-info
                h3.news-title
                    a с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
                time.news-time 10.10.2017
        .news
            .news-img(style="background-image: url(" + require('../../img/news1.jpg') + ")")
            .news-info
                h3.news-title
                    a с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
                time.news-time 10.10.2017
        .news
            .news-img(style="background-image: url(" + require('../../img/news1.jpg') + ")")
            .news-info
                h3.news-title
                    a с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
                time.news-time 10.10.2017
        .news
            .news-img(style="background-image: url(" + require('../../img/news1.jpg') + ")")
            .news-info
                h3.news-title
                    a с 25 октября пл 6 ноября состоится турнир по пляжному волейболу
                time.news-time 10.10.2017
section.section-info.container
    .row
        .section-facts.column.medium-6
            h2.section-header.row
                span Интересные факты
            div.fact-list
                h3 Спортсмен за одну игру совершает (примерно)
                ul
                    li.fact-item
                        h4.fact-title 85 Прыжков
                        p.fact-desc прыжок каждые 42 секунды
                    li.fact-item
                        h4.fact-title 234 старта
                        p.fact-desc Игрок начинает бежать каждые 15,4 секунды
                    li.fact-item
                        h4.fact-title 772 метра
                        p.fact-desc за одно ускорение преодолевает 3,3 метра


        .section-rating.column.medium-6
            h2.section-header.row
                span Рейтинг игроков
            table.table#tableMan
                - var gamer = 10;
                  while gamer > 0
                    tr.table-row
                        td.table-cell.table-name
                         p Денисенко Денис
                        td.table-cell.table-points
                            p= gamer--


