.row
    .column h1 Header1
.row
    .column.column-6
        ul
            li lorem
            li lorem2
            li lorem3
    .column.column-6
        h2 header@
        p   loremloremloremlorem